<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="regionMapping">
      <section name="mainModule" type="System.Configuration.NameValueSectionHandler" />
      <!--<section name="OtherModule" type="System.Configuration.NameValueSectionHandler" />-->
    </sectionGroup>
  </configSections>

  <regionMapping>
    <mainModule>
      <add key="Region" value="MainRegion" />
    </mainModule>
    <!--<OtherModule>
      <add key="Region" value="MainRegion" />
    </OtherModule>-->
  </regionMapping>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>